html {
    scroll-behavior: smooth;
    margin: 0;
}
body {
    background-color: rgb(239, 214, 184);
}
.main-container {
    max-width:  1980px;
    max-height: 1080px;

}
.content {
    /* width: 60%; */
    margin: 0 auto;
    display: flex;
    /* align-items: center; */
    flex-direction: column;

}
.content__header {
    font-size: 20px;
    font-family: 'Inconsolata', monospace;
    border-bottom: 1px solid #b3afaf;

}
.content__buttons {
    /* padding: 60px; */
}
.meme_content {
    max-height: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.meme_label {
    margin-right: 100px;
    padding-bottom: 10px;
}
.meme_button {
    display: block;
    background-color:rgb(239, 214, 184);
    color: rgb(41, 33, 33);
    font-size: 15px;
    font-family: 'Inconsolata', monospace;
    padding: 10px 0;
    border-bottom: 1px solid #b3afaf;
}
.meme_button:hover .cross {
    opacity: 1;
}

.meme_image {
    width: 80%;
    border-radius: 20px;
    max-height: 400px;
    height: 100%;
}
.meme_button-input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.meme_button-input:checked + .label-content + .meme_content {
    max-height: 1000px;
    transition: 1.5s;
}
.meme_button-input:checked  + .label-content .cross {
    transform:  rotate(90deg);

}
.meme_button-input:checked + .label-content .meme_label {
    color: #d16b04;
}
.cross {
    width: 30px;
    height: 30px;
    transform:  rotate(45deg);
    transition: transform .4s;
}
.label-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

@media screen and (min-width: 820px) {
    .meme_image {
        width: 50%;

    }
    .meme_label {
        font-size: 25px;
        padding-bottom: 15px;
    }
    .cross {
        opacity: 0;
    }
    .content__buttons:hover .meme_button {
        color: #d16b04;
        cursor: pointer;
    }

    .content__buttons:hover .cross {
        opacity: 1;
    }
    .content__header {
        font-size: 30px;
    }
    .content {
        width: 60%;
    }
    .meme_button:hover .meme_content {
        max-height: 1000px;
        transition: 2s;
    }
}
@media screen and (min-width: 1980px) {
    .cross {
        opacity: 0;
        transition: transform .4s,  opacity .4s;
    }
    .meme_image {
        width: 40%;

    }
    .meme_button {
        font-size: 30px;
        padding: 20px;
    }
    .meme_button:hover .meme_content {
        background-color: #b3afaf;
        cursor: pointer;
    }
    .content__header {
        font-size: 40px;
    }

}


